<input type="text"  placeholder="Search" oninput={{action "search" value="target.value"}} />

{{#if currentlyLoading}}
  searching
{{/if }}
{{#if model}}
<table border="1">
  {{#each model as |song|}}
    <tr>
      <td><img src={{song.artworkUrl60}}></td>
      <td>{{song.artistName}}</td>
      <td>{{song.trackName}}</td>
      <td>{{#link-to "info" song}}detail{{/link-to}}</td>
    </tr>
  {{/each}}
</table>
{{else}}
<div>
  Please type a filter
</div>
{{/if}}
